<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <% articleList.forEach(function(article) { %> 
        <li>
          <a href="/article/<%= article.id %>">
            <%= article.title %>
          </a>
        </li>
      <% }) %>
    </ul>
  </body>
</html>
