<%- include header %>
<ul style="list-style:none">
    <li>
        <h3>
            <a href="https:/love.alipay.com/donate/donateSingle.htm?name=201304201216494301">
                門諾醫院基金會
            </a>
        </h3>
        天佑台灣，為弱勢團體
    </li>
    <li>
        <h3>
            <a href="http:/www/onefoundation.cn/html/cn/beneficence.html">
                門諾基金
            </a>
            門諾基金弱勢團體救援，刻不容緩！
        </h3>
    </li>
</ul>
<%- include footer %>